*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 500px;
}


body{
    background-color: rgba(10, 109, 223, 0.452);
}
ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
}

a{
    text-decoration: none;
    color: white;
}

.caminhada{
    display:flex;
    flex-direction: column;
}

.yoga{
    display: flex;
    flex-direction: column;
}