*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 250px;
    height: 200px;
    object-fit: contain;
}
body{
    background-color: rgba(10, 109, 223, 0.582);
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
}

