* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 20px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

li {
    color: whitesmoke;
    cursor: pointer;
}

header {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}

/* Estilo para o container dos cards */
.conteiner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;  /* Para garantir que os cards se movam para uma nova linha quando necessário */
}

.card-opcao {
    flex: 1 1 30%;  /* Faz com que cada card ocupe no mínimo 30% da largura disponível */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100%; /* Mantém o limite de largura para os cards */
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card-body {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

h1, p {
    text-align: center;
    margin-bottom: 20px;
}

